.change-video {
    margin-top: 16px;
    border: 1px solid var(--text-color-opacity-12);
    border-radius: 8px;
    padding: 6px 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.change-text {
    flex: 1 1;
    display: flex;
    padding: 6px 0 6px 4px;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.description {
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: var(--text-color-secondary);
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
}

.check-icon {
    color: var(--text-color-secondary);
    margin-right: 4px;
}

.change-video-btn {
    padding: 0;
    background-color: transparent;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text-color-opacity-90);
    margin: 0;
    margin-left: 4px;
}
