.wrapper {
    background-image: linear-gradient(to right bottom, rgb(22, 22, 85), rgb(152, 40, 152));
    border-radius: inherit;
    padding: 16px 40px;
    position: relative;
    box-shadow: 5px 5px 10px rgb(25, 25, 25);
    color: #fff;
}

.heading {
    font-size: 2.4rem;
    margin: 8px 0 16px;
    background: linear-gradient(to right bottom, rgb(0, 221, 255), rgb(0, 255, 21));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.body {
    flex: 1;
}

.hashtag {
    margin-right: 8px;
    color: var(--primary);
}

.title {
    font-size: 1.8rem;
    font-weight: 600;
}

.content {
    margin: 16px 0;
    font-weight: 400;
    font-size: 1.5rem;
    color: #afafaf;
}

.image {
    width: 100%;
    aspect-ratio: 17 / 9;
    object-fit: cover;
    border-radius: 10px;
}

.upload-by {
    color: #afafaf;
    margin-right: 2px;
    font-weight: 400;
}

.author {
    margin-top: 1rem;
    color: #ff8361;
    font-weight: 600;
    font-style: italic;
}

.check-icon {
    margin-left: 4px;
}

.close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: rgb(170, 170, 170);
    font-size: 2.4rem;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
