.wrapper {
    background-color: #e6e6e6;
    border-radius: inherit;
    padding: 24px 50px;
    position: relative;
    color: #000;
}

.heading {
    font-size: 2.8rem;
    margin: 8px 0 16px;
    background: linear-gradient(to right bottom, rgb(0, 221, 255), rgb(0, 255, 21));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.body {
    flex: 1;
}

.hashtag {
    margin-right: 8px;
    color: var(--primary);
}

.title {
    font-size: 2rem;
    font-weight: 600;
}

.content {
    margin: 16px 0;
    font-weight: 600;
    font-size: 1.5rem;
    color: #545454;
}

.image {
    width: 100%;
    aspect-ratio: 17 / 9;
    object-fit: cover;
    border-radius: 6px;
}

.author {
    margin-top: 1.5rem;
    color: #ff8361;
    font-weight: 600;
    font-style: italic;
}

.upload-by {
    color: #717171;
    margin-right: 2px;
    font-weight: 400;
    font-style: normal;
}

.check-icon {
    margin-left: 4px;
}

.close {
    position: absolute;
    top: 2.5rem;
    right: 3rem;
    color: rgb(170, 170, 170);
    font-size: 2.4rem;
    cursor: pointer;
    width: 3rem;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.wrapper {
    &.darkMode {
        background-color: rgb(45, 45, 45);
        color: #fff;

        .content {
            color: #bebebe;
        }

        .close {
            color: var(--text-color);
        }
    }
}
