.wrapper {
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    // position: relative;
}

.avatar {
    width: 56px;
    height: 56px;
    object-fit: cover;
    border-radius: 50%;
}

.body {
    margin-left: 12px;
    max-width: 75%;
}

.user-info {
    display: flex;
    align-items: center;
}

.nick-name {
    // font-weight: 700;
    font-size: 1.8rem;
    line-height: 28px;
    font-family: SofiaPro, 'sans-serif';
    &:hover {
        text-decoration: underline;
    }
}

.check-icon {
    margin: 0 4px;
}

.description {
    color: rgb(22, 24, 35);
    font-weight: 600;
    // word-wrap: break-word !important;
    max-width: 95%;
    min-width: 95%;
    line-height: 17px;
    font-size: 1.6rem;
}

.follow {
    position: absolute;
    right: 0;
    margin: 0;
}
