.wrapper {
    max-width: 100%;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar {
    width: 56px;
    height: 56px;
    object-fit: cover;
    border-radius: 50%;
}

.body {
    margin-left: 12px;
    max-width: 65%;
}

.user-info {
    display: inline-flex;
}

.nick-name {
    font-size: 18px;
    line-height: 23px;
    display: inline-block;
    &:hover {
        text-decoration: underline;
    }
}

.full-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin-left: 6px;
    &:hover {
        text-decoration: underline;
    }
}

.check-icon {
    margin: 0 4px;
}

.music-name {
    margin-top: 4px;
    margin-left: 2px;
    -webkit-line-clamp: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: var(--text-color-secondary);
    font-size: 1.4rem;
    line-height: 1.4;
}

.music-icon {
    line-height: 0;
    font-size: 1rem;
    color: var(--text-color);
    padding-right: 4px;
}
