// switch button
.switch {
    width: 44px;
    height: 24px;
    border-radius: 100px;
    background-color: var(--text-color-opacity-12);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 2px;
    padding-left: 3.5px;
    margin: 1px;
    cursor: pointer;
    &:hover {
        opacity: 0.9;
    }
}

.switch-core {
    width: 19px;
    height: 19px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px;
    margin-right: 1px;
    margin-left: -0.5px;
}

.switch[data-ison='true'] {
    justify-content: flex-end;
    background-color: rgb(11, 224, 155);
}

.switch[data-ison='false'] .switch-core {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px;
}
