.wrapper {
    min-width: 100px;
    font-size: 1.6rem;
    padding: 9px 16px;
    border-radius: 4px;
    font-weight: 700;
    font-family: ProximaNova, sans-serif;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.08);
    margin: 0 8px;
    color: var(--text-color);

    &.disable {
        pointer-events: none;
        opacity: 0.6;
        user-select: none;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    text-align: center;
    line-height: 1;
    min-width: 24px;
}

// Button type

.rounded {
    border-radius: 5px;
    color: var(--text-color);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        background-color: var(--button-rounded-hover);
    }
}

.primary {
    display: flex;
    margin: 0;
    justify-content: center;
    color: #fff !important;
    background-color: var(--primary);
    border: 4px;
    border-color: var(--primary);
    &:hover {
        border-color: var(--primary);

        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.outline {
    color: var(--primary);
    border-color: currentColor;
    background-color: transparent;
    &:hover {
        background-color: rgba(254, 44, 85, 0.08);
    }
}

// Button sizes

.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    min-width: 148px;
    padding: 14px 16px;
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

.disable {
    border-radius: 10px;
    padding: 12px 0;
    margin-left: 0;
    background-color: #f1f1f2;
}
