.account-loading {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
}

.avatar {
    width: 32px;
    height: 32px;
    margin-right: 12px;
    border-radius: 50%;
    background-color: var(--text-color-opacity-20);
    object-fit: cover;
}

.account-info {
    flex: 1;
}

.nick-name {
    width: 50px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--text-color-opacity-20);
}

.name {
    margin-top: 3px;
    width: 80px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--text-color-opacity-20);
}

.account-loading {
    &.big {
        .avatar {
            width: 40px;
            height: 40px;
        }

        .nick-name {
            width: 200px;
            height: 14px;
        }

        .name {
            width: 320px;
            height: 14px;
        }
    }
}
