.allow-user-to {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.allow-menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.allow-item {
    display: flex;
    align-items: center;
    gap: 10px;

    .checkbox {
        position: relative;
        width: 16px;
        background: var(--primary);
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        cursor: pointer;
        border: none;

        &.notChecked {
            background-color: transparent;
            border: 1px solid var(--text-color-opacity-12);
            &:hover {
                border-color: var(--primary);
            }
        }

        &:hover {
            opacity: 0.8;
        }

        .checkbox-icon {
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(45%, -50%);
            user-select: none;
        }
    }
}
