.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #fff;
    position: relative;
}

.header-into-view {
    position: absolute;
    top: 0;
}

.container {
    max-width: var(--default-layout-width);
    width: var(--default-layout-width);
    padding-right: var(--default-layout-horizontal-spacer);
    display: flex;
    padding-top: var(--default-layout-header-height);
}

.content-wrapper {
    display: flex;
    justify-content: center;
    margin-left: var(--default-layout-sidebar-width);
    align-items: center;
    flex: 1;
}

.go-to-top {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: fixed;
    right: 35px;
    bottom: 15px;
    background-color: var(--primary);
    cursor: pointer;
    color: white;
}

.wrapper {
    &.darkMode {
        background-color: #121212;
    }
}
