.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: var(--default-layout-width);
    width: var(--default-layout-width);
    padding-right: var(--default-layout-horizontal-spacer);
    display: flex;
    margin-top: var(--default-layout-header-height);
}

.content-wrapper {
    display: flex;
    justify-content: center;
    margin-left: var(--default-layout-sidebar-width);
    flex: 1;
}

.content {
    width: var(--default-layout-content-width);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 11;
    // display: none;
}
