.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: var(--default-layout-background);
    position: relative;
    color: var(--text-color);
}

.container {
    max-width: var(--default-layout-width);
    width: var(--default-layout-width);
    padding-right: var(--default-layout-horizontal-spacer);
    display: flex;
    padding-top: var(--default-layout-header-height);
}

.content-wrapper {
    display: flex;
    justify-content: center;
    margin-left: var(--default-layout-sidebar-width);
    align-items: center;
    flex: 1;
}

.go-to-top {
    position: fixed;
    bottom: -40px;
    right: 20px;
    width: 32px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    border-radius: 50%;
    transition: 0.3s all ease-in-out;
    cursor: pointer;

    &.open {
        bottom: 15px;
    }
}
