.wrapper {
    position: relative;
    padding-top: 20px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(22, 24, 35, 0.2);

    &.darkMode {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
}
