.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.wrapper *::-webkit-scrollbar {
    display: none;
}

.go-to-top {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: fixed;
    right: 35px;
    bottom: 10px;
    background-color: var(--primary);
    cursor: pointer;
    color: white;
}

.header-intoview {
    position: absolute;
    margin-top: -100px;
}

.load-more {
    color: rgba(22, 24, 35, 0.5);
    animation: loading 0.3s infinite;
    position: absolute;
    left: 50%;
    font-size: 2rem;
    margin-top: 10px;
}

@keyframes loading {
    from {
        transform: translateX(-50%);
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.ads {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 30rem;
    height: 30rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    z-index: 9999999;
}

.des {
    font-size: 1.8rem;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--primary);
    width: 4rem;
    height: 4rem;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}
