.comment-header {
    padding: 24px 32px 0;
}

.user-profile {
    padding: 16px;
    border-radius: 10px;
    background-color: var(--text-color-opacity-04);
}

.user-info-container {
    display: flex;
    align-items: center;

    > :first-child {
        flex: 1;
    }
}

.user-info {
    display: flex;
    align-items: center;
    &:hover > .user-name > .nick-name {
        text-decoration: underline;
    }

    cursor: pointer;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-name {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 8px;
    color: var(--text-color);
}

.nick-name {
    line-height: 24px;
    font-size: 1.8rem;
    font-weight: 700;
    display: inline;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.full-name {
    font-size: 1.4rem;
    line-height: 18px;
}

.video-option-btn {
    color: var(--text-color);
    width: 40px;
    height: 40px;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.video-info {
    padding: 16px 0 0;
    max-width: 100%;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 4px;

    .description {
        font-weight: 600;
    }

    .video-music {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 1.4rem;

        .music-icon {
            font-size: 1.2rem;
            color: var(--text-color-secondary);
        }
    }
}

.video-options-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.video-interaction-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.video-interaction-item {
    display: flex;
    align-items: center;
}

.interaction-btn {
    font-weight: 600;
    font-size: 1.4rem;
    color: var(--text-color-secondary);
    width: 60px;
    display: flex;
    align-items: center;
}

.like-btn,
.comment-btn {
    cursor: default;
}

.like-btn {
    cursor: pointer;

    &.isLiked {
        color: var(--primary);
    }
}

.interaction-btn + .interaction-btn {
    margin-left: 12px;
}

.share-video-options {
    padding: 0 8px;
    display: flex;
    align-items: center;
    gap: 12px;

    .share-btn-icon {
        cursor: pointer;
    }
}

.share-icon {
    color: var(--text-color);
    cursor: pointer;
}

.copy-link {
    color: var(--text-color);
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    background-color: var(--text-color-opacity-12);
    padding-left: 8px;
    flex-basis: 100%;

    .link {
        flex: 1;
        font-size: 1.4rem;
        color: var(--text-color-secondary);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .copy-link-btn {
        margin: 0;
        padding-top: 6px;
        padding-bottom: 6px;
        background-color: var(--text-color-opacity-06);
        border-color: transparent;
    }
}
