.menu-list {
    width: 250px;

    .menu-item {
        margin-left: 0;
        font-weight: 600;
        &.separate {
            border-top: 1px solid rgba(255, 255, 255, 0.12);
        }
    }
}

.menu-wrapper {
    max-height: 590px;
}

.menu-popper {
    padding-bottom: 8px;
}

.menu-body {
    width: 100%;
    overflow-y: overlay;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

// MENU ITEMS

.menu-item {
    width: 100%;
    text-align: start;
    padding: 11px 16px;
    line-height: 1.8rem;
    font-size: 1.6rem;
    background-color: transparent;
    position: relative;
    color: var(--text-color);
    border-radius: 0;
    &:hover {
        background-color: var(--text-color-opacity-04);
    }
}

.header {
    position: relative;
    width: 100%;
    min-height: 50px;
    height: 50px;
    border-bottom: 0.5px dashed rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
}

.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.8rem;
    color: #fff;
    &:active {
        opacity: rgba(255, 255, 255, 0.8);
    }
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.switch-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
