.wrapper {
    width: 100%;
    padding: 16px 0;
    font-size: 1.4rem;
    font-weight: 600;
    border-top: 1px solid var(--text-color-opacity-12);
}

.label {
    padding: 0 8px;
    margin-bottom: 8px;
    color: var(--text-color-tertiary);
}

// account item
.account-item {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    .avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
    }
    &:hover {
        background-color: var(--text-color-opacity-03);
    }
}

.account-info {
    flex: 1;
    margin-left: 12px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.nickname {
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 22px;
}

.icon {
    font-size: 1.3rem;
    margin-left: 4px;
    color: rgb(32, 213, 236);
}

.name {
    color: var(--text-color-secondary);
    font-size: 1.2rem;
    line-height: 1;
    font-weight: 500;
}

.see-more {
    font-size: 1.4rem;
    color: rgb(254, 44, 85);
    padding: 0 8px;
    margin-top: 8px;
    font-weight: 600;
    cursor: pointer;
}
