.wrapper {
    width: 100%;
    padding: 4px 0;
    background-color: #fff;
    box-shadow: var(--text-color-opacity-12) 0px 2px 12px;
    border-radius: 8px;
    max-height: min(100vh - 60px, 800px);
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--text-color);
    border: 1px solid rgba(169, 169, 169, 0.45);
}

.wrapper {
    &.darkMode {
        background-color: rgb(31, 31, 31);
        border: 1px solid rgba(54, 54, 54, 0.45);
    }
}
