.wrapper {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.1s linear background-color;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px 0;
    font-size: 2.2rem;
    background-color: var(--text-color-opacity-12);
    transition: background-color 0.15s linear;
    transition: color 0.15s ease-in-out;

    &.isLike[data-type='like'] {
        color: var(--primary);
    }

    &:hover {
        background-color: var(--text-color-opacity-08);
    }
}

.value {
    font-size: 1.4rem;
    line-height: 1;
    color: var(--text-color-secondary);
}
