.wrapper {
    width: 100%;
    border-top: 1px solid var(--text-color-opacity-12);
    padding: 20px 8px 24px;
}

.title {
    line-height: 21px;
    font-size: 1.6rem;
    color: var(--text-color-secondary);
}

.login {
    width: 100%;
    margin: 0;
    margin-top: 20px;
    padding: 13px;
    border-color: var(--primary);
    color: var(--primary);
    font-size: 1.6rem;
    &:hover {
        background-color: rgba(255, 94, 126, 0.06);
    }
}
