.preview {
    width: 320px;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.body {
    flex: 1;
}

.info {
    padding: 8px 0;
    color: var(--text-color);
}

.avatar,
.nickname,
.name {
    cursor: pointer;
}

.nickname,
.name {
    &:hover {
        text-decoration: underline;
    }
}

.nickname {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 22px;
}

.icon {
    font-size: 1.3rem;
    margin-left: 4px;
    color: rgb(32, 213, 236);
}

.name {
    font-size: 1.3rem;
    line-height: 1;
    font-weight: 600;
}

.analytics {
    flex: 1;
    .value {
        font-size: 1.6rem;
        color: var(--text-color);
    }

    span {
        padding: 0 4px;
        font-weight: 600;
        margin-right: 8px;
        color: var(--text-color-secondary);
    }
}

.preview {
    &.darkMode {
        color: rgba(255, 255, 255, 0.9);

        .analytics {
            .value {
                color: rgba(255, 255, 255, 0.9);
            }

            span {
                color: rgba(255, 255, 255, 0.75);
            }
        }
    }
}
