.search,
.search-result {
    width: 400px;
}

.search-title {
    padding: 6px 12px;
    color: var(--text-color-tertiary);
    font-size: 1.4rem;
    font-weight: 600;
}

.search {
    position: relative;
    height: var(--search-height);
    display: flex;
    background-color: var(--text-color-opacity-10);
    border-radius: var(--search-border-radius);
    padding-left: 16px;
    border: 1.5px solid transparent;

    input {
        flex: 1;
        font-size: 1.5rem;
        color: var(--text-color);
        background-color: transparent;
        height: 100%;
        caret-color: var(--primary);
        padding-right: 44px;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: var(--text-color-secondary);
    }

    .seperate {
        position: absolute;
        top: var(--search-top-spacer);
        width: 1px;
        right: var(--search-button-width);
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: var(--text-color-opacity-10);
    }

    &:focus-within {
        border-color: var(--text-color-opacity-20);
    }
}

.clear,
.loading {
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-color-opacity-34);
}

.loading {
    animation: spinner 0.8s infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-btn {
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    width: var(--search-button-width);
    height: 100%;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.8rem;
    color: var(--text-color-opacity-34);
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: var(--text-color-opacity-06);
        color: var(--text-color-secondary);
    }

    &:active {
        background-color: var(--text-color-opacity-06);
        color: var(--text-color-secondary);
    }
}
