.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: -4px;
}

.circle-icon {
    cursor: pointer;
}

.title {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
}

.message {
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 500;
    color: var(--text-color-secondary);
    margin-top: 8px;
}
