.wrapper {
    padding-top: var(--default-layout-header-height);
    min-height: calc(100vh);
    background-color: var(--background-upload);
    display: flex;
    justify-content: center;
    align-items: center;
}
