.menu-item {
    display: flex;
    align-items: center;
    line-height: 1 !important;
    font-size: 1.8rem;
    font-weight: 800 !important;
    padding: 8px;
    color: var(--text-color);
    &.active {
        color: var(--primary);
        .icon {
            display: none;
        }
        .active-icon {
            display: flex;
        }
    }

    &:hover {
        background-color: var(--text-color-opacity-03);
        border-radius: 5px;
    }

    &:last-child {
        margin-bottom: 20px;
    }
}

.title {
    margin-left: 10px;
    line-height: 1;
    margin-top: 4px;
    display: flex;
    align-items: center;
    font-family: TiktokFont, sans-serif;
    font-weight: 700;
}

.icon,
.active-icon {
    display: flex;
}

.active-icon {
    display: none;
}
