.wrapper {
    position: relative;
}

.wrapper > * {
    width: 100%;
}

.caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caption-title {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.5;
}

.caption-length {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 17px;
    color: var(--text-color-tertiary);
}

.input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid var(--text-color-opacity-12);
    position: relative;
    border-radius: 4px;
}

.input {
    flex-grow: 1;
    height: 44px;
    border: none !important;
}

.input-action {
    padding: 0 8px;
    display: flex;
    align-items: center;
}

.tag,
.hashtag {
    color: var(--text-color);
    font-size: 1.2rem;
    margin: 0 4px;
    cursor: pointer;
}

.tag-friend {
    width: 100%;
    max-height: 224px;
    border-radius: 2px;
    padding: 4px 0;
    overflow-y: overlay;
    box-shadow: rgba(34, 90, 89, 0.2) 2px 0px 20px -20px, rgba(34, 90, 89, 0.2) 0px 8px 20px -2px,
        rgba(34, 90, 89, 0.2) 0px 0px 20px -20px;
    background-color: var(--default-layout-background);

    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: var(--text-color-opacity-08) !important;
    }
}

.following-title {
    font-size: 1.5rem;
    line-height: 2.4rem;
    font-weight: 400;
    color: var(--text-color-tertiary);
    padding-left: 2rem;
}
