.login-with {
    width: 100%;
    padding: 14px;
    background-color: rgba(22, 24, 35, 0.1);
    border-radius: 10px;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-dark-color);
    position: relative;
    cursor: no-drop;
}

.icon {
    position: absolute;
    left: 10px;
}

.login-with + .login-with {
    margin-top: 10px;
}

.more {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 8px 0;
    color: var(--text-dark-color);
}

.darkMode {
    .login-with {
        background-color: rgba(255, 255, 255, 0.15);
        color: var(--text-light-color);
    }

    .more {
        color: var(--text-light-color);
    }
}
