.login-with {
    width: 100%;
    padding: 14px;
    background-color: var(--text-color-opacity-10);
    border-radius: 10px;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-color);
    position: relative;
    cursor: no-drop;
}

.icon {
    position: absolute;
    left: 10px;
}

.login-with + .login-with {
    margin-top: 10px;
}

.more {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 8px;
    color: var(--text-color);
}
