.wrapper {
    width: 520px;
    padding-top: 20px;
    padding-bottom: 60px;
    max-height: calc(100vh - var(--default-layout-header-height) * 2);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: 99;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
    transition: all 0.1s ease-in-out;
    position: fixed;
}

.close {
    color: rgba(22, 24, 35, 0.75);
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    .close-icon {
        font-size: 2.2rem;
    }
}

.title {
    color: var(--text-dark-color);
}

.header {
    width: 100%;
    padding: 0 60px;
    margin: 48px 0 16px 0;
    line-height: 1.5;
    font-weight: 700;
    font-size: 1.4rem;
}

.body {
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.separator {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.separator-line {
    flex: 1;
    height: 1px;
    background-color: rgba(22, 24, 35, 0.12);
}

.separator-content {
    color: rgba(22, 24, 35, 0.5);
    padding: 0 8px;
    margin: 12px 0;
    font-size: 1.3rem;
}

.policy {
    color: rgb(121, 121, 121);
    padding: 10px 30px 20px 30px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1;
}

.footer {
    color: var(--text-dark-color);
    border-top: 0.5px solid rgba(22, 24, 35, 0.12);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    height: 64px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.sign-up {
    color: var(--primary);
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.wrapper {
    &.darkMode {
        background-color: #252525;
        box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.05);
        .close {
            color: rgba(255, 255, 255, 0.75);
        }

        .title {
            color: var(--text-light-color);
        }

        .footer {
            color: var(--text-light-color);
            border-top: 0.5px solid rgba(255, 255, 255, 0.12);
        }

        .separator-line {
            background-color: rgba(255, 255, 255, 0.12);
        }

        .separator-content {
            color: rgba(255, 255, 255, 0.5);
        }
    }
}
